# Core
pandas
numpy
scikit-learn

# NLP
nltk
transformers
torch

# API
fastapi
uvicorn
python-dotenv
pydantic

# Visualization
matplotlib
seaborn
wordcloud

# Utilities
joblib
httpx

# Deploy
streamlit==1.42.2